<!DOCTYPE html>
<html lang="en" dir="ltr" class="Expand">
  <head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="Expand">
    <div class = "page_head">
      <div></div>
      <div class="logo center"><img src="https://nearbyfriends.s3.ap-northeast-2.amazonaws.com/Minerva/Minerva_log.jpeg"></img></div>
      <div class="main_profile">
        <button class="H(100)" id='js-login_button'> 로그인/회원가입 </button>
        <div class="profile none" id=<%=id%>> <img src= <%= picture %> > </div>
      </div>
    </div>
    <div id='modal-manage'></div>
    <!-- 로고 페이지  -->
    <div class="posG">
      <div class="Ad left"></div>
      <div class= "layout">
        <div class="best_tap">
          <div class="best_choice">
            <div class="tap"><div class="days">일간</div></div>
            <div class="tap"><div class="weekend">주간</div></div>
            <div class="tap"><div class="month">월간</div></div>
          </div>
          <div class="hot_topic">
            <div class="a_best_title"></div>
            <div class="best_titles">
              <div class="sec_title anothor_title"></div>
              <div class="thi_title anothor_title"></div>
              <div class="fou_title anothor_title"></div>
              <div class="fif_title anothor_title"></div>
            </div>
          </div>
        </div>
      <div class="H(50)">
        <div class="more"><i class="fa fa-ellipsis-h">...</i></div>
      </div>
      <div class="bottom_title">
        <div class="feed">
          <div class="feed_head"><div class="Expand center"> 실시간 피드 </div></div>
        </div>
        <div class="recomend">
          <div class="recomend_head">
            <div class="Expand center"> 맞춤 게시물 </div>
          </div>
          <div class='recomend_body'></div>
        </div>
      </div>
    </div>
    <div class="Ad right"></div>
    </div>
    <div id="footer" class="footer" role="contentinfo">
      <div> 이 홈페이지는 익명성 과 투명성을 위하여 만들어짐 </div>
    </div>
  </body>
  <script src="./main/main.js"></script>
  <script src="modal.js"></script>
  <script src='./topHead.js'></script>
  <script src='./log/modal.js'></script>
  <script src='./xhrSend.js'></script>
  <script src='./main/mainPagePost.js'></script>
</html>
