<!DOCTYPE html>
<html lang="en" dir="ltr" class="Expand">
  <head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <script src='/data.js'></script>
  <script src='/xhrSend.js'></script>
  <body class="Expand">
    <div class = "page_head">
      <div></div>
      <div class="logo center"><img src = "https://nearbyfriends.s3.ap-northeast-2.amazonaws.com/Minerva/Minerva_logo.jpeg"></img><img src="https://nearbyfriends.s3.ap-northeast-2.amazonaws.com/Minerva/Minerva_log.jpeg"></img></div>
      <div class="main_profile">
        <button class="H(100)" id='js-login_button'> 로그인/회원가입 </button>
        <div class="profile none" id=<%=id%>> <img src= <%= picture %> > </div>
      </div>
    </div>
    <div id='modal-manage'></div>
    <div class="posG">
    <div class="Ad left"></div>
    <div class= "layout">
      <div class='posts color_white'>
      </div>
    </div>
    <div class="Ad right"></div>
    </div>
    <div id="footer" class="footer" role="contentinfo">
      <div> 이 홈페이지는 익명성 과 투명성을 위하여 만들어짐 </div>
    </div>
  </body>
  <script src="/modal.js"></script>
  <script src='/read/read.js'></script>
  <script src='/topHead.js'></script>
  <script src='/xhrSend.js'></script>
  <script src='/read/recomend.js'></script>


</html>
