<!DOCTYPE html>
<html lang="en" dir="ltr" class="Expand">
  <head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="Expand">
    <div class = "page_head">
      <div class="logo"><img src="https://nearbyfriends.s3.ap-northeast-2.amazonaws.com/Minerva/Minerva_logo.jpeg"></a></div>
      <div class="copy"><div> C O P Y </div></div>
      <div class="main_profile">
        <button class="H(100)" id='js-login_button'> 로그인/회원가입 </button>
        <div class="profile none" id=<%=id%>> <img src= <%= picture %> > </div>
      </div>
    </div>
    <div id='modal-manage'></div>
    <div class="posG">
    <div class="Ad left"></div>
    <div class= "layout">
      <div>
        <span class="MT ML"> 제목 </span>
        <input type="text" class="subj MT ML"></input>
      </div>
      <div>
        <span class="MT ML">카테고리</span>
        <select class="select MT ML">
          <option>사회</option>
          <option>정부</option>
          <option>정경유착</option>
          <option>비리</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
        <span class="ML_space MT">태그</span>
        <input type="text" class="ML MT tag"></input>
      </div>
      <div>
        <div class="ML MT">내용</div>
        <textarea name="name" class="MT ML textArea"></textarea>
      </div>
      <div>
        <div class="ML MT ">출처</div>
        <input type="text" class="ML source">
        <div class="ML MT"> 첨부파일 </div>
        <div><input type="file" name="pic" accept="image/*" class="ML MT"></input></div>
        <div><input type="file" name="pic" accept="image/*" class="ML MT"></input></div>
        <div><input type="file" name="pic" accept="image/*" class="ML MT"></input></div>
        <div><input type="file" name="pic" accept="image/*" class="ML MT"></input></div>
      </div>
      <div>
        <div class ="ML MT"> 글 의 신뢰성 </div>
        <input type="radio" name="responsibility" class="ML MR" value="상"> 상
        <input type="radio" name="responsibility" class="ML MR" value="중"> 중
        <input type="radio" name="responsibility" class="ML MR" value="하"> 하
      </div>
      <div class="center">
        <button class="ML MT MR register"> 등록하기 </button>
        <a href="/"><button class="ML MT MR"> 취소하기 </button></a>
      </div>
    </div>
    <div class="Ad right"></div>
    </div>
  </body>
  <script src="/modal.js"></script>
  <script src="/write/write.js"></script>
  <script src='/topHead.js'></script>

</html>
